# Data Preprocessing

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt
%matplotlib inline 
sns.set(color_codes=True)

In [ ]:
df = pd.read_csv("/content/data_machinera.csv")

In [ ]:
df.head()

  Make       Model  Year  ... city mpg  Popularity   MSRP
0  BMW  1 Series M  2011  ...       19        3916  46135
1  BMW    1 Series  2011  ...       19        3916  40650
2  BMW    1 Series  2011  ...       20        3916  36350
3  BMW    1 Series  2011  ...       18        3916  29450
4  BMW    1 Series  2011  ...       18        3916  34500

[5 rows x 16 columns]

# Handling Missing and Duplicate Data

In [ ]:
df = df.drop_duplicates()

In [ ]:
df = df.dropna()

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7735 entries, 0 to 11913
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Make               7735 non-null   object
 1   Model              7735 non-null   object
 2   Year               7735 non-null   int64
 3   Engine Fuel Type   7735 non-null   object
 4   Engine HP          7735 non-null   float64
 5   Engine Cylinders   7735 non-null   float64
 6   Transmission Type  7735 non-null   object
 7   Driven_Wheels      7735 non-null   object
 8   Number of Doors    7735 non-null   float64
 9   Market Category    7735 non-null   object
 10  Vehicle Size       7735 non-null   object
 11  Vehicle Style      7735 non-null   object
 12  highway MPG        7735 non-null   int64
 13  city mpg           7735 non-null   int64
 14  Popularity         7735 non-null   int64
 15  MSRP               7735 non-null   int64
dtypes: float64(3), int64(5), object(8)
memory usage: 1.0+ MB

# Extract Dependent and Independent variables

>Independent variables (also referred to as Features) are the input for a process that is being analyzes. Dependent variables are the output of the process.

>For example, in the below data set, the independent variables are the input of the purchasing process being analyzed. The result (whether a user purchased or not) is the dependent variable.

* [Splitting data in dependent and independent variables](https://www.pluralsight.com/guides/importing-and-splitting-data-into-dependent-and-independent-features-for-ml)

In [ ]:
df["Market Category"].unique().size

70

In [ ]:
df["Engine Fuel Type"].unique().size

8

In [ ]:
df.head()

  Make       Model  Year  ... city mpg  Popularity   MSRP
0  BMW  1 Series M  2011  ...       19        3916  46135
1  BMW    1 Series  2011  ...       19        3916  40650
2  BMW    1 Series  2011  ...       20        3916  36350
3  BMW    1 Series  2011  ...       18        3916  29450
4  BMW    1 Series  2011  ...       18        3916  34500

[5 rows x 16 columns]

In [ ]:
df.drop(columns = ["Market Category", "Engine Fuel Type"], inplace = True)

In [ ]:
#extracting all of independent variables(inputs) into X
X = df.iloc[:, 1:-1]

In [ ]:
#extracting dependent variable(outputs) in y
y = df.iloc[:, -1]

# Encoding Categorical Data
---
###Label Encoding

When we give our Dataset to model we need to have all numerical data into it, this implies that we have to eliminate all the string type data. This is achieved by Label encoding.

In label encoding all the categories are enlisted in a numpy array and the index of that array is used to replace all the categories in that column.

`preprocessing.LabelEncoder()` of sklearn is used for label encoding

---
###One Hot Encoding

The main drawback of Label encoder is that it introduces hierarchy in the categorical data which is unwanted most of the times.

To overcome this drawback one hot encoding is used.

What one hot encoding does is, it takes a column which has categorical data, which has been label encoded, and then splits the column into multiple columns. The numbers are replaced by 1s and 0s, depending on which column has what value. 

Further reading -
* [Feature Engineering](https://www.youtube.com/watch?v=6WDFfaYtN6s)
* [Encoding Data](https://www.analyticsvidhya.com/blog/2020/08/types-of-categorical-data-encoding/)

In [ ]:
#getting unique values present in 'vehicle style' feature
X["Vehicle Style"].unique()

array(['Coupe', 'Convertible', 'Sedan', 'Wagon', '4dr Hatchback',
       '2dr Hatchback', '4dr SUV', 'Crew Cab Pickup',
       'Extended Cab Pickup', 'Regular Cab Pickup', 'Passenger Minivan',
       'Cargo Minivan', '2dr SUV', 'Convertible SUV', 'Cargo Van',
       'Passenger Van'], dtype=object)

In [ ]:
X["Driven_Wheels"].unique()

array(['rear wheel drive', 'front wheel drive', 'all wheel drive',
       'four wheel drive'], dtype=object)

In [ ]:
X["Transmission Type"].unique()

array(['MANUAL', 'AUTOMATIC', 'AUTOMATED_MANUAL', 'DIRECT_DRIVE',
       'UNKNOWN'], dtype=object)

In [ ]:
X["Vehicle Size"].unique()

array(['Compact', 'Midsize', 'Large'], dtype=object)

In [ ]:
#getting number of unique features present in 'vehicle size'
X["Vehicle Size"].unique().shape

(3,)

In [ ]:
X["Model"].unique().shape

(713,)

In [ ]:
from sklearn.preprocessing import LabelEncoder

encoderOne = LabelEncoder()

#here encoderOne transforms both the attributes
X["Vehicle Style"] = encoderOne.fit_transform(X["Vehicle Style"])
X["Model"] = encoderOne.fit_transform(X["Model"])

In [ ]:
X.head()

   Model  Year  Engine HP  ...  highway MPG city mpg Popularity
0      1  2011      335.0  ...           26       19       3916
1      0  2011      300.0  ...           28       19       3916
2      0  2011      300.0  ...           28       20       3916
3      0  2011      230.0  ...           28       18       3916
4      0  2011      230.0  ...           28       18       3916

[5 rows x 12 columns]

In [ ]:
from sklearn.preprocessing import OneHotEncoder

encoderTwo = OneHotEncoder(sparse=False)

#dataframe 
encodedTT = pd.DataFrame(encoderTwo.fit_transform(X[["Transmission Type", "Vehicle Size"]]))

In [ ]:
encodedTT.columns = encoderTwo.get_feature_names(["Transmission Type", "Vehicle Size"])

In [ ]:
encodedTT.head()

   Transmission Type_AUTOMATED_MANUAL  ...  Vehicle Size_Midsize
0                                 0.0  ...                   0.0
1                                 0.0  ...                   0.0
2                                 0.0  ...                   0.0
3                                 0.0  ...                   0.0
4                                 0.0  ...                   0.0

[5 rows x 8 columns]

In [ ]:
X = pd.get_dummies(X, columns=["Driven_Wheels", "Transmission Type", "Vehicle Size"], drop_first=True)

In [ ]:
X.head()

   Model  Year  ...  Vehicle Size_Large  Vehicle Size_Midsize
0      1  2011  ...                   0                     0
1      0  2011  ...                   0                     0
2      0  2011  ...                   0                     0
3      0  2011  ...                   0                     0
4      0  2011  ...                   0                     0

[5 rows x 18 columns]

# Splitting dataset into training and test set

We use train-test-split module from sklearn to divide our dataset in training and testing parts. By doing this we allow our model to learn from larger chunk of data and then we can test its accuracy using smaller chunk of data.

We Import train-test-split by following command -

`from sklearn.model_selection import train_test_split`

When splitting a dataset there are some competing concerns:
* If you have less training data, your parameter estimates have greater variance.
* And if you have less testing data, your performance statistic will have greater variance.
* The data should be divided in such a way that neither of them is too high, which is more dependent on the amount of data you have. 
* If your data is too small then no split will give you satisfactory variance so you will have to do cross-validation. 
* If your data is huge then it doesn’t really matter whether you choose an 80:20 split or a 90:10 split

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.2,random_state = 0)

print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(6188, 18) (1547, 18) (6188,) (1547,)


# Feature scaling

Feature scaling refers to putting the values in the same range or same scale so that no variable is dominated by the other.

Numerical data in the dataset can have varied range i.e. one parameter may lie between 1 to 10 for all records whereas another parameter can lie between 1000 to 5000. Though data is logically correct but after passing to particular algorithm, the features with higher magnitude become key parameters for that algorithm.

To avoid such situations feature scaling is performed using some statistical techniques like Min-Max scaling & Mean normalization. This creates a common range for all the parameters and thus removes Algorithmic bias.

References -

* [Standardization and Normalization](https://www.analyticsvidhya.com/blog/2020/04/feature-scaling-machine-learning-normalization-standardization/)

* [Difference between Standardization and Normalization](https://www.youtube.com/watch?v=mnKm3YP56PY)

### Standardization

In [ ]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [ ]:
scaler = StandardScaler()
X_train_scaler = scaler.fit_transform(X_train)
X_test_scaler = scaler.fit_transform(X_test)

In [ ]:
pd.DataFrame(X_train_scaler)

            0         1         2   ...        15        16        17
0    -0.822678  0.620794  1.900154  ... -0.012713 -0.559432  1.244849
1    -1.628071  0.779914  0.188755  ... -0.012713  1.787527 -0.803310
2    -0.554214 -0.174806 -0.453020  ... -0.012713 -0.559432  1.244849
3    -1.642201  0.461674 -0.803857  ... -0.012713 -0.559432 -0.803310
4    -0.087934 -0.015686 -0.957883  ... -0.012713 -0.559432 -0.803310
...        ...       ...       ...  ...       ...       ...       ...
6183  0.533773  0.461674  1.215594  ... -0.012713  1.787527 -0.803310
6184 -0.318719  0.620794  1.181366  ... -0.012713 -0.559432  1.244849
6185 -0.883907 -1.288645 -0.838085  ... -0.012713 -0.559432 -0.803310
6186 -0.558924  0.620794 -1.197479  ... -0.012713 -0.559432 -0.803310
6187 -0.516535  0.143434  0.462578  ... -0.012713  1.787527 -0.803310

[6188 rows x 18 columns]

In [ ]:
pd.DataFrame(X_test_scaler)

            0         1         2   ...        15        16        17
0    -0.358920  0.773240 -0.239977  ... -0.035979 -0.560677  1.229375
1    -0.817886  0.606823  2.223958  ... -0.035979 -0.560677  1.229375
2     0.170295  0.107574 -1.167363  ... -0.035979 -0.560677 -0.813421
3    -1.309634  0.606823  2.942227  ... -0.035979  1.783559 -0.813421
4     1.411375  0.440407  1.396585  ... -0.035979 -0.560677 -0.813421
...        ...       ...       ...  ...       ...       ...       ...
1542 -0.761686  0.440407  1.623885  ... -0.035979 -0.560677 -0.813421
1543 -1.112935  0.440407 -0.603658  ... -0.035979 -0.560677 -0.813421
1544  1.102275  0.773240  0.078243  ... -0.035979  1.783559 -0.813421
1545 -1.609367 -2.222257 -1.049167  ... -0.035979 -0.560677 -0.813421
1546  1.149109  0.440407 -1.749252  ... -0.035979 -0.560677 -0.813421

[1547 rows x 18 columns]

### Normalization

In [ ]:
min_max_scaler = MinMaxScaler()
X_train_minmax = min_max_scaler.fit_transform(X_train)
X_test_minmax = min_max_scaler.fit_transform(X_test)

In [ ]:
pd.DataFrame(X_train_minmax)

            0         1         2      3    4   ...   13   14   15   16   17
0     0.259831  0.962963  0.470402  0.500  0.0  ...  0.0  0.0  0.0  0.0  1.0
1     0.019663  1.000000  0.258985  0.375  1.0  ...  0.0  0.0  0.0  1.0  0.0
2     0.339888  0.777778  0.179704  0.375  1.0  ...  0.0  0.0  0.0  0.0  1.0
3     0.015449  0.925926  0.136364  0.250  1.0  ...  0.0  0.0  0.0  0.0  0.0
4     0.478933  0.814815  0.117336  0.250  1.0  ...  0.0  0.0  0.0  0.0  0.0
...        ...       ...       ...    ...  ...  ...  ...  ...  ...  ...  ...
6183  0.664326  0.925926  0.385835  0.375  1.0  ...  0.0  0.0  0.0  1.0  0.0
6184  0.410112  0.962963  0.381607  0.500  1.0  ...  0.0  0.0  0.0  0.0  1.0
6185  0.241573  0.518519  0.132135  0.250  0.0  ...  0.0  1.0  0.0  0.0  0.0
6186  0.338483  0.962963  0.087738  0.250  1.0  ...  0.0  0.0  0.0  0.0  0.0
6187  0.351124  0.851852  0.292812  0.500  1.0  ...  0.0  0.0  0.0  1.0  0.0

[6188 rows x 18 columns]

In [ ]:
pd.DataFrame(X_test_minmax)

            0         1         2      3    4   ...   13   14   15   16   17
0     0.398031  1.000000  0.200213  0.250  1.0  ...  0.0  0.0  0.0  0.0  1.0
1     0.260197  0.962963  0.488818  0.500  0.0  ...  0.0  0.0  0.0  0.0  1.0
2     0.556962  0.851852  0.091587  0.250  1.0  ...  0.0  0.0  0.0  0.0  0.0
3     0.112518  0.962963  0.572950  0.500  1.0  ...  0.0  0.0  0.0  1.0  0.0
4     0.929677  0.925926  0.391906  0.500  0.0  ...  0.0  0.0  0.0  0.0  0.0
...        ...       ...       ...    ...  ...  ...  ...  ...  ...  ...  ...
1542  0.277075  0.925926  0.418530  0.500  0.0  ...  0.0  1.0  0.0  0.0  0.0
1543  0.171589  0.925926  0.157614  0.250  0.0  ...  0.0  1.0  0.0  0.0  0.0
1544  0.836850  1.000000  0.237487  0.375  0.0  ...  0.0  0.0  0.0  1.0  0.0
1545  0.022504  0.333333  0.105431  0.375  0.0  ...  0.0  1.0  0.0  0.0  0.0
1546  0.850914  0.925926  0.023429  0.250  1.0  ...  0.0  0.0  0.0  0.0  0.0

[1547 rows x 18 columns]