<a href="https://colab.research.google.com/github/ISTE-VESIT-ORG/Machinera-2020/blob/Course-2/Data_Preprocessing/Data_Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Processing

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt
%matplotlib inline 
sns.set(color_codes=True)

In [ ]:
df = pd.read_csv("data.csv")

In [ ]:
df.head()

  Make       Model  Year  ... city mpg  Popularity   MSRP
0  BMW  1 Series M  2011  ...       19        3916  46135
1  BMW    1 Series  2011  ...       19        3916  40650
2  BMW    1 Series  2011  ...       20        3916  36350
3  BMW    1 Series  2011  ...       18        3916  29450
4  BMW    1 Series  2011  ...       18        3916  34500

[5 rows x 16 columns]

# Handling Missing and Duplicate Data

In [ ]:
df = df.drop_duplicates()

In [ ]:
df = df.dropna()

# Extract Dependent and Independent variables

In [ ]:
df.drop(columns = ["Market Category", "Engine Fuel Type"], inplace = True)

In [ ]:
X = df.iloc[:, 1:-1]

In [ ]:
y = df.iloc[:, -1]

# Encoding Categorical Data

In [ ]:
X["Vehicle Style"].unique()

array(['Coupe', 'Convertible', 'Sedan', 'Wagon', '4dr Hatchback',
       '2dr Hatchback', '4dr SUV', 'Crew Cab Pickup',
       'Extended Cab Pickup', 'Regular Cab Pickup', 'Passenger Minivan',
       'Cargo Minivan', '2dr SUV', 'Convertible SUV', 'Cargo Van',
       'Passenger Van'], dtype=object)

In [ ]:
X["Driven_Wheels"].unique()

array(['rear wheel drive', 'front wheel drive', 'all wheel drive',
       'four wheel drive'], dtype=object)

In [ ]:
X["Transmission Type"].unique()

array(['MANUAL', 'AUTOMATIC', 'AUTOMATED_MANUAL', 'DIRECT_DRIVE',
       'UNKNOWN'], dtype=object)

In [ ]:
X["Vehicle Size"].unique()

array(['Compact', 'Midsize', 'Large'], dtype=object)

In [ ]:
X["Model"].unique().shape

(713,)

In [ ]:
from sklearn.preprocessing import LabelEncoder

encoderOne = LabelEncoder()
X["Vehicle Style"] = encoderOne.fit_transform(X["Vehicle Style"])
X["Model"] = encoderOne.fit_transform(X["Model"])

In [ ]:
from sklearn.preprocessing import OneHotEncoder

encoderTwo = OneHotEncoder(sparse=False)
encodedTT = pd.DataFrame(encoderTwo.fit_transform(X[["Transmission Type", "Vehicle Size"]]))
encodedTT.columns = encoderTwo.get_feature_names(["Transmission Type", "Vehicle Size"]) 
encodedTT.head()

   Transmission Type_AUTOMATED_MANUAL  ...  Vehicle Size_Midsize
0                                 0.0  ...                   0.0
1                                 0.0  ...                   0.0
2                                 0.0  ...                   0.0
3                                 0.0  ...                   0.0
4                                 0.0  ...                   0.0

[5 rows x 8 columns]

In [ ]:
X = pd.get_dummies(X, columns=["Driven_Wheels", "Transmission Type", "Vehicle Size"], drop_first=True)

In [ ]:
X.head()

   Model  Year  ...  Vehicle Size_Large  Vehicle Size_Midsize
0      1  2011  ...                   0                     0
1      0  2011  ...                   0                     0
2      0  2011  ...                   0                     0
3      0  2011  ...                   0                     0
4      0  2011  ...                   0                     0

[5 rows x 18 columns]

# Splitting dataset into training and test set

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.2,random_state = 0)

print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(6188, 18) (1547, 18) (6188,) (1547,)


# Feature scaling

* Standardization
* Normalization

### Standardization

In [ ]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [ ]:
scaler = StandardScaler()
X_train_scaler = scaler.fit_transform(X_train)
X_test_scaler = scaler.fit_transform(X_test)

In [ ]:
pd.DataFrame(X_train_scaler)

In [ ]:
pd.DataFrame(X_test_scaler)

### Normalization

In [ ]:
min_max_scaler = MinMaxScaler()
X_train_minmax = min_max_scaler.fit_transform(X_train)
X_test_minmax = min_max_scaler.fit_transform(X_test)

In [ ]:
pd.DataFrame(X_train_minmax)

In [ ]:
pd.DataFrame(X_test_minmax)